[Unit]
Description=HomeApp Phoenix server
After=network.target
Wants=network-online.target nginx.service

[Service]
Restart=always
Type=simple
User=homeapp
Group=homeapp
WorkingDirectory=/home/homeapp/home_app
ExecStart=/home/homeapp/home_app/bin/server
Environment='PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin' 'HOME=/home/homeapp'

[Install]
WantedBy=multi-user.target
