[Unit]
Description=HomeApp Phoenix server
After=network.target
Wants=network-online.target nginx.service

[Service]
Restart=always
Type=simple
WorkingDirectory=/home/homeapp/home_app
ExecStart=/home/homeapp/home_app/bin/server
Environment='PATH="$PATH:/usr/local/elixir-otp-25/bin"' 'HOME=/home/homeapp'

[Install]
WantedBy=multi-user.target
